
.carousel .control-arrow,.carousel.carousel-slider .control-arrow {
    -webkit-transition:all .25s ease-in;
    -moz-transition:all .25s ease-in;
    -ms-transition:all .25s ease-in;
    -o-transition:all .25s ease-in;
    transition:all .25s ease-in;
    opacity:.9;
    position:absolute;
    z-index:2;top:
    20px;background:0 0;
    border:0;
    font-size:32px;
    cursor:pointer
}
    .carousel .control-arrow:hover{opacity:1}
    .carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before {
        margin:0 5px;
        display:inline-block;
        border-top:8px solid transparent;
        border-bottom:8px solid transparent;
        content:''}
        .carousel .control-disabled.control-arrow{opacity:0;cursor:inherit;display:none}
        .carousel .control-prev.control-arrow{left:0}
        .carousel .control-prev.control-arrow:before{border-right:8px solid #fff}
        .carousel .control-next.control-arrow{right:0}
        .carousel .control-next.control-arrow:before{border-left:8px solid #fff}
        .carousel{position:relative;width:100%}
        .carousel *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
        .carousel img{width:100%;display:inline-block;pointer-events:none}
        .carousel .carousel{position:relative}
        .carousel .control-arrow{outline:0;border:0;background:0 0;top:50%;margin-top:-13px;font-size:18px}
        .carousel .thumbs-wrapper{margin:20px;overflow:hidden}
        .carousel .thumbs{-webkit-transition:all .15s ease-in;-moz-transition:all .15s ease-in;-ms-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);position:relative;list-style:none;white-space:nowrap}.carousel .thumb{-webkit-transition:border .15s ease-in;-moz-transition:border .15s ease-in;-ms-transition:border .15s ease-in;-o-transition:border .15s ease-in;transition:border .15s ease-in;display:inline-block;width:80px;margin-right:6px;white-space:nowrap;overflow:hidden;border:3px solid #fff;padding:2px}.carousel .thumb:focus{border:3px solid #ccc;outline:0}.carousel .thumb.selected,.carousel .thumb:hover{border:3px solid #333}.carousel .thumb img{vertical-align:top}.carousel.carousel-slider{position:relative;margin:auto;overflow:hidden;border-radius:20px;max-width:600px;}.carousel.carousel-slider .control-arrow{top:0;color:#fff;font-size:26px;bottom:0;margin-top:0;padding:5px}.carousel.carousel-slider .control-arrow:hover{background:rgba(0,0,0,.2)}.carousel .slider-wrapper{overflow:hidden;margin:auto;width:100%;-webkit-transition:height .15s ease-in;-moz-transition:height .15s ease-in;-ms-transition:height .15s ease-in;-o-transition:height .15s ease-in;transition:height .15s ease-in}.carousel .slider-wrapper.axis-horizontal .slider{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-horizontal .slider .slide{flex-direction:column;flex-flow:column}.carousel .slider-wrapper.axis-vertical{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-vertical .slider{-webkit-flex-direction:column;flex-direction:column}.carousel .slider{margin:0;padding:0;position:relative;list-style:none;width:100%}.carousel .slider.animated{-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out}.carousel .slide{min-width:100%;margin:0;position:relative;text-align:center;}.carousel .slide img{width:100%;vertical-align:top;border:0}.carousel .slide iframe{display:inline-block;width:calc(100% - 80px);margin:0 40px 40px;border:0}.carousel .slide .legend{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;position:absolute;bottom:40px;left:50%;margin-left:-45%;width:90%;border-radius:10px;background:#000;color:#fff;padding:10px;font-size:12px;text-align:center;opacity:.25;-webkit-transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-ms-transition:opacity .35s ease-in-out;-o-transition:opacity .35s ease-in-out;transition:opacity .35s ease-in-out}.carousel .control-dots{position:absolute;bottom:0;margin:10px 0;text-align:center;width:100%}@media (min-width:960px){.carousel .control-dots{bottom:0}}.carousel .control-dots .dot{-webkit-transition:opacity .25s ease-in;-moz-transition:opacity .25s ease-in;-ms-transition:opacity .25s ease-in;-o-transition:opacity .25s ease-in;transition:opacity .25s ease-in;opacity:.3;box-shadow:1px 1px 2px rgba(0,0,0,.9);background:#fff;border-radius:50%;width:8px;height:8px;cursor:pointer;display:inline-block;margin:0 8px}
        .carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover{opacity:1}
        .carousel .carousel-status{position:absolute;top:0;right:0;padding:5px;font-size:10px;text-shadow:1px 1px 1px rgba(0,0,0,.9);color:#fff}
.carousel-item img{filter: brightness(60%);}
.carousel:hover .slide .legend{opacity:1}
.carousel-caption {
    // position: absolute;
    // top: 30px ;    
    // left: 0;    
    // width: 100%;
    h1 {
      font-size: 40px;
      color: #ffffff !important;
      text-align: center;
      text-shadow: 0 0 2px #000000;
      font-family: "PlayfairDisplay-Regular";
      
    }
    h2 {
      font-size: 16px;
      color: #ffffff  !important;
      text-align: center;
      text-transform: none !important;
      font-family: "Montserrat", sans-serif;
    }
    .top-left {
      position: absolute; 
      left: -25%;
      top:80px
    }
    .top-right {
      position:absolute;
      right: -25%;
      top:80px
    }
   
    .top-center {
      margin-top:80px;
    }
    .bottom-center {
      margin-top:55%;
      transform:translate(0,-60%);
    }
    .bottom-right {
      position:absolute;
      right: -25%;
      bottom: 5%;
    }
    .bottom-left {
      position:absolute;
      left: -25%;
      bottom: 5%;
    }
    
  }
  .carousel-mobilecaption {
    display:none;
  }
  // .caption-container{
  //   width: 100%;
  // }
  
  // .carousel-caption {
  //   h2 {
  //     color: #ffffff !important;
  //     text-align: center;
  //     text-transform: none !important;
  //     font-family: "PlayfairDisplay-Regular";
  //   }
  //   h1 {
  //     color: #ffffff !important;
  //     text-align: center;
  //     // font-family: "PlayfairDisplay-Regular";
  //     font-family: "Montserrat", sans-serif;
  //   }
   
  // }
  .btn.red-btn{
    display: block;
    background-color: #000;
    color: #fff;
    margin: 5px auto; 
    padding: 10px 5px;
    border-radius: 8px;
    &:hover,
    &:focus {
            -webkit-box-shadow: unset;
            box-shadow: unset;
            background-color: #666666;
            color: #ffffff !important;
            border: 1px solid #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
          }
  }
  @media only screen and (min-width: 1920px){
    .carousel-caption {
      h2 {font-size: 2rem;}
      h1 {font-size:4.2rem;}
     
    }
    .btn.red-btn{
      width:200px;
      font-size: 1.2rem;
    }
    .center-left {
      margin-top:30%;
      position:absolute;
      left: -20%;
    }
    .center-right {
      position:absolute;
      right: -30%;
      margin-top:30%;
    }
    .center-center {
      margin-top:38%;
    }
   
   
  }
  @media only screen  and (min-width: 1440px)and (max-width: 1919px) {
    .carousel-caption {
      h2 {font-size: 1.8rem;}
      h1 {font-size:3.8rem;}
      
      .center-left {
        margin-top:30%;
        position:absolute;
        left: -20%;
      }
      .center-right {
        position:absolute;
        right: -30%;
        margin-top:30%;
      }
      .center-center {
        margin-top:32%;
      }
    }
    .btn.red-btn{
      width:200px;
      font-size: 1.2rem;
    }
  }
  @media only screen  and (min-width: 1200px)and (max-width: 1439px) {
    .carousel-caption {
      h2 {font-size: 1.5rem;}
      h1 {font-size:3.2rem;}
      .center-left {
        margin-top:28%;
        position:absolute;
        left: -20%;
      }
      .center-right {
        position:absolute;
        right: -30%;
        margin-top:28%;
      }
      .center-center {
        margin-top:32%;
      }
    }
    .btn.red-btn{
      width:180px;
      font-size: 1.1rem;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .carousel-caption {
      h2 {font-size: 1.3rem;}
      h1 {font-size:2.5rem;}
      .center-left {
       
        position:absolute;
        left: -20%;
        margin-top:28%;
      }
      .center-right {
        position:absolute;
        right: -30%;
        margin-top:28%;
      }
      .center-center {
        margin-top:30%;
      }
    }
    .btn.red-btn{
      width:150px;
      font-size: 1rem;
    }
  }
  @media only screen and (min-width: 767px) and (max-width: 991px) {
    .carousel-caption {
      h2 {
        font-size: 1rem;
      }
      h1 {
        font-size: 2.0rem;
      }
      .center-left {
       
        position:absolute;
        left: -20%;
        margin-top:28%;
      }
      .center-right {
        position:absolute;
        right: -30%;
        margin-top:28%;
      }
      .center-center {
        margin-top:30%;
      }

    }
    .btn.red-btn{
        width:120px;
        font-size: 0.6rem;
      }
  }

  @media only screen and (max-width: 766px) {
    .carousel-caption {
      h2 {
        font-size: 0.8rem;
        color: #ffffff !important;
        text-align: center;
        text-transform: none !important;
        font-family: "Montserrat", sans-serif;
      }
      h1{
        font-size: 1.9rem;
        color: #ffffff !important;
        text-align: center;
        font-family: "PlayfairDisplay-Regular";
        
      }
      .center-left {
        position:absolute;
        left: -20%;
        margin-top:30%;
      }
      .center-right {
        position:absolute;
        right: -30%;
        margin-top:30%;
      }
      .center-center {
        margin-top:28%;
      }
      
    
    }
    .btn.red-btn{
      display: block;
      width:100px;
      font-size: 0.5rem;
      background-color: #000;
      color: #fff;
      margin: 5px auto; 
      padding: 10px 5px;
      border-radius: 8px;
    }

  }
  @media only screen and (max-width: 540px) {
    .carousel-caption {
      h2 {
        font-size: 0.6rem;  
      }
      h1 {
        font-size: 1.2rem;
      }
      .center-left {
        position:absolute;
        left: -20%;
        margin-top:28%;
      }
      .center-right {
        position:absolute;
        right: -30%;
        margin-top:28%;
      }
      .center-center {
        margin-top:25%;
      }
      .top-center {
        margin-top:60px;
      }
    }
    .btn.red-btn{
      font-size: 0.5rem;
    }

  }

  @media only screen and (max-width: 426px) {
    
    .carousel {
      height: 385px;
      margin-top: 75px;
      .carousel-control-next, .carousel-control-prev{
        height: 200px;
      }
    }
    .carousel-caption {
      display:none;
    }
    .carousel-mobilecaption {
      display:block;
      h2 {
        font-size:1.0rem;
        text-align:left;
        font-weight: lighter;
        margin: 10px 15px 10px 15px;
       font-family: "Montserrat", sans-serif;
      }
      h1 {
        font-size:1.5rem;
        text-align: left;
        // transform: uppercase;
        margin:20px 15px 10px 15px;
        font-family: "PlayfairDisplay-Regular";
        
      }
      .btn.red-btn{
        display: block;
        width:80%;
        background-color: #000;
        color: #fff;
        margin: 20px auto;  
      }
      

    }
    .carousel-indicators li{
      background-color: #000000;
    }
    .carousel-caption {
      top:12px; 
      .top-left, .center-left, .bottom-left, 
      .top-center, .center-center, .bottom-center, 
      .top-right, .center-right, .bottom-right {
        position: absolute;  
        left:0;
      }
      .col-md-8 > .red-btn{
        padding: 1px 2px !important;
        transform: scale(0.50);
        width: 80%;
      }
     
    }
  }



  