.orange-circle > .MuiStepLabel-iconContainer >  .MuiStepIcon-active,
.orange-circle >.MuiStepLabel-iconContainer >  .MuiStepIcon-completed{
    color: #000000;        
  
}


.bottomSummary {
    // background: linear-gradient(180deg,#666666,#262626);
    background-color: #666666;
    padding:20px;
    width:95%;
    color: white;
    margin-left:20px;

}

.bottomSummary > h5 {
    color: white;
    font-size: 18px;
    margin-bottom: 18px;
}

.bottomSummary ol {
    margin:10px;
    padding:0;
    font-size:15px;
}

.bottomSummary ul {
    margin:0;
    padding:0;
    list-style-type: none;
    font-size:13px;
}
.bottomSummary ul > li {
    float:left;
    width:100%;
    margin-bottom: 6px;
}

.bottomSummary .info {
    float:left;
}
.bottomSummary .price {
    float:right;
    text-align: right;
    
}
.bottomSummary hr {
    clear:both;
    width:100%;
   border-color: #dadada;
}

.bottomSummary .totalRow {
    height:30px;
    width:100%;
    margin-bottom: 10px;
}

.bottomSummary .grandTotal {
    float:left;    
}

.configHeader {
    margin-top:20px;
}

.configCoverImg {
    object-fit: cover;
    max-height: 800px;
    max-width: 900px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

.configure-total {
    //  // text-transform: uppercase;
}
.configure-total dt {
    display: inline-block;
}
.configure-total dl dt:nth-child(2) {
    float: right;
}
.configure-total-header {
    background: #000000;
    color: #fff;
}
.configure-sect {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.configure-opt {
    // background:linear-gradient(170deg,#ffffff, #999999);
    padding: 15px;
    overflow: auto;
    max-height: 1000px;
  }

.optionTitleRow {
    display:flex;
}

.optionDisplay {
    
 -webkit-transition: 1s;
  -moz-transition: 1;
  -o-transition: 1s;
  transition: 1s;
  height:0;  
  overflow: hidden;
  margin-bottom:2em;
}


.optionDisplay.show {
    height:auto;  
    overflow:unset;
}


.configure-opt-title {
    color: #666666;
    display:block;
    flex:9
  }
.configure-icon {
    flex:1;    
    color:#c0c0c0;    
}

  .configure-list {
    padding: 1%;
    margin: 2% 0;
    img{
        border:none!important;
    }

    span:first-of-type{
    color: black;
    font-size: 12px;
    font-weight: lighter !important ;
  }

  }
//   .configure-list 
.configure-sect .configure-gall .custom-control-label::before,
.configure-sect .configure-gall .custom-control-label::after {
  top: 0.25rem;
}

.coebox {
    border:1px solid #666666;
    width:90%;
    margin-left:5%;
    margin-bottom:2em;
    text-align: center;

    .coeTitle {
        background:linear-gradient(170deg,#333333,#262626);
        width:100%;
        color:white;
        font-size: 1.8em;
        padding: 12px 0;
        line-height: 2.4em;
        font-weight: 600;
    }

    .coeDetails {
        margin-top:20px;
        margin-bottom:20px;

        h3 {
            font-size:2em;
            // font-family: "PlayfairDisplay-Regular";     
            font-family: "Montserrat", sans-serif;
            border:none ;    
        }

        p {
            margin-left:15px;
            margin-right:15px;
        }

        input {
            padding: 10px;
            font-size:1.1em;
        }
    }

    button {
        display:block;
        width:70%;
        margin-left:15%;
        padding: 12px 0;
        margin-bottom:20px; 
        font-size:1.5em;
    }

    .coeSelect {
        border:2px solid #666666;
        color: #ffffff ;
        background-color:#666666; 
            
    }

    .coeSelected {
        border:2px solid #262626;
        color: #ffffff ;
        background:linear-gradient(170deg,#333333,#262626); 
    }

    .readmore {
        background-color:white;
        border:2px solid #262626;
        color: #262626;

        
    }
}

.calculator {
    background-color: #f5f5f5;
    padding:2.5em;
    margin-bottom:1.5em;
    .field-name >p{
        // color: #ffffff  !important;
        text-transform: capitalize !important;
    }
}

.calculator-field {
    margin-bottom: 0.75rem;
}
.field-name p {
color: #000000;
font-weight: 600;
}
.calculator-submit >button {
    color: #ffffff !important;
    background-color: #000000;
    padding: 11px 23px;
    border-radius: 10px !important;
    margin-top: 15px;
    width: 180px;
}
.justify-content-between {
    .d-flex >.makeEnquiryBtn,
    .d-flex >.btn-primary
    {
       
        background-color: #000000;
        padding:0;
        height: 42px;
        border-radius: 10px ;
        margin-top: 15px;
        width: 180px;
        border: 1px solid white;
        p{
            font-size: 14px;
            color: #ffffff ;
        }
        &:hover,
        &:focus {
            -webkit-box-shadow: unset;
            box-shadow: unset;
            background-color: #666666;
            color: #ffffff !important;
            border: 1px solid #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
          }
    }
    .d-flex >.makeEnquiryBtn{
        margin-top: 20px;
    }

}

.calculator-submit button:disabled,
.checkout-form button:disabled {
background-color: #cccccc;
border: #cccccc;
}
.calculator-submit button:disabled:hover,
.checkout-form button:disabled:hover {
box-shadow: 0px 5px 8px #888888;
color: #ffffff !important;
}

.summarySubtitle {
    font-size:1.8em;
    font-weight: 600;
    color: #000000;
}

.summaryTableCard {
    background-color: #262626;
    color: #ffffff;
    padding:26px;    
    margin-top: 35px;
}

.summaryDownload {
    box-sizing: border-box;
    width:50%;
    margin-left:25%;
    background-color: transparent;
    border:1px solid #ffffff;
    padding:15px;
    font-size:1.2em;
    color: #ffffff;
}

.summaryTable {
    background-color:#ffffff;
    color: #000000;
    margin-top:20px;
    padding:10px 15px;

    ol {
        margin:0;
        padding:0 10px 0 20px;

        li {
            padding:15px 0 10px 12px;
            font-weight:600;
            font-size:1.2em;
            border-bottom: 1px solid #cccccc;
        }

        li:last-child {
            border:none;
        }
    }    
}

.summaryDetail {
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    flex-direction: row;    
    font-size:1em;
    p {
        color: #666666;
    }

    img {
        display:block;
        width:71px;
        max-height:71px;
    }

    .details {
        flex:2;
        padding: 5px 0 5px 10px;        
    }

    .detailDescription {
        font-size:0.9em;
        font-weight: normal;
    }

    .price {
        flex: 1;
        font-size:1.1em;
        padding-top:10px;
        padding-right:20px;
        text-align: right;
        // font-family: "PlayfairDisplay-Regular";
        font-family: "Montserrat", sans-serif;
    }
}

.financingTable {
    margin-top:30px;

    h3 {
        font-size:1.4em;
        color: #ffffff;
    }

    .financeDetails {
        background-color:white;
        margin-top:15px;
        padding:20px;
        color: #000000;
        font-weight: 600;
    }

    .financeRow {
        display:flex;
        flex-direction: row;
        margin-bottom:8px;

        .fItem {
            flex: 3
        }
        .fPrice {
            flex:2;
            text-align: right;
        }        
    }

    .totalPrice {
        font-size:1.2em;
        font-weight: 800;
        color: #000000;
        padding-bottom: 15px;
        border-bottom: 1px solid #cccccc;
        font-family: "Montserrat", sans-serif;
    }

}

.mobile-step {
    display:none;
}

.vStep2 {
    display:none;
}

.configure-area .prevBtn {
    margin-left: -40px;
    float: left;
}

.configure-area .nextBtn {
    float:right;
}
.Mui-selected{
    outline: none !important;
}

.popTitle {
    font-weight: 600;
}

.popTitleMsg {
    color: rgb(255, 65, 65);
}


@media only screen and (max-width: 426px) {
    .step-process {
        display:none;
    }

    .configHeader {
        display:none;
    }

    .vStep {
        display: none;
    }

    .vStep2 {
        display:block;
    }

    .configure-sect {
        flex-direction: column-reverse;
    }
    .coebox .coeSelected{
        outline: none;
    }

    .configure-area .prevBtn {
        margin-left:0px;
    }

    .mobile-step {
        display:block;
        background-color: #f5f5f5;
        // padding:15px;
        color: #262626;
        width:100%;
        box-sizing: border-box;
        // height:110px;
        .stepNum {
            font-size: 24px;
            line-height:60px;
            text-align: center;
            font-weight: bold;
            float:left;
            width:60px;
            height:60px;
            border-radius: 50%;
            background-color:#c0c0c0; 
            margin-left: 15px;    

        }
        .stepTitle {
            float:right;
            text-align: left;
            margin-top:15px;
            margin-right:15px;
            font-size:1.5em;
            font-weight: bold;
            line-height: 1em;
            max-width:250px;
            overflow:hidden;            
        }
        .stepSubtitle {
            font-size:0.7em;
            font-weight: 600;
        }
    }
    
    .bottomSummary {
        width:100%;
        margin-left:0;
        margin-bottom:20px;
    }

    .summaryDetail {
        width:120%;
        margin-left:-15%;

        .price {
            font-size:0.9em;
        }
    }

    .financingTable {
        margin-left:-10%;
        width:113%;

        .financeDetails {
            padding:12px 0;
        }
    }
    
}



